.hero-container {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 90%;
    height: 60vh;
    overflow: hidden;
    border-right: 4px solid #000;
}

.slider {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    position: relative;
}

.slide {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    background-size: contain;
    background-posiiton: center;
	background-repeat: no-repeat;
	background-attatchment: fixed;
}

.slide1 {
	background-image: url('../images/featuring1.jpeg');
}

.slide2 {
	background-image: url('../images/carouselimage1.jpg');
}

.slide3 {
	background-image: url('../images/featuring1.jpeg');
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
